<% title "Pagelle" %>

<table>
  <tr>
    <th>Pubblicata</th>
  </tr>
  <% for list in @lists %>
    <tr>
      <td><%= list.pubblicata %></td>
      <td><%= link_to "Mostra", list %></td>
      <td><%= link_to "Edita", edit_list_path(list) %></td>
      <td><%= link_to "Cancella", list, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "Nuova Pagella", new_list_path %></p>
