<%= form_for @vote do |f| %>
  <%= f.error_messages %>
  <p><%= f.label :Pagella%>
  	<%= f.collection_select :list_id, @pagelle, :id, :pubblicata%>
  </p>
  <p>
  	<%= f.label :voto%><br />
  	<%= f.collection_select :level_id, @livelli, :id, :livello%>
  	</p>
 <p>
    <%= f.label :note %><br />
    <%= f.text_field :note %>
  </p>
  <p>
    <%= f.label :motivo %><br />
    <%= f.text_area :motivo %>
  </p>
  <p><%= f.submit %></p>
  
<% end %>
