<% title "Voto" %>

<p>
  <strong>List:</strong>
  <%= @vote.list_id %>
</p>
<p>
  <strong>Voto:</strong>
  <%= @vote.level.livello %>
</p>
<p>
  <strong>Note:</strong>
  <%= @vote.note %>
</p>
<p>
  <strong>Motivo:</strong>
  <%= @vote.motivo %>
</p>

<p>
  <%= link_to "Edit", edit_vote_path(@vote) %> |
  <%= link_to "Destroy", @vote, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", votes_path %> |
  <%= link_to "Torna alla pagella", pagella_path(@vote.list_id)%>
</p>
